/**
 * Markdown Styles
 */

.markdown {
  color: var(--grey-200);
  line-height: 1.4;
}

.markdown-header {
  font-family: var(--font-orbitron);
  font-size: var(--text-sm);
  font-weight: 600;
  color: var(--grey-100);
  margin-top: var(--space-2);
  margin-bottom: var(--space-1);
  padding-bottom: 2px;
  border-bottom: 1px solid var(--grey-700);
}

.markdown-header:first-child {
  margin-top: 0;
}

.markdown-paragraph {
  font-family: var(--font-nirmala);
  font-size: var(--text-sm);
  color: var(--grey-300);
  margin-bottom: var(--space-1);
}

.markdown-list {
  list-style: none;
  margin-bottom: var(--space-1);
  padding-left: var(--space-3);
}

.markdown-list > li {
  position: relative;
  font-family: var(--font-nirmala);
  font-size: var(--text-sm);
  color: var(--grey-300);
  margin-bottom: 2px;
  padding-left: var(--space-3);
}

.markdown-list > li::before {
  content: '›';
  position: absolute;
  left: 0;
  color: var(--grey-500);
  font-weight: 900;
  font-size: var(--text-lg);
  line-height: 1.1;
  transform: scaleX(1.4);
}

.markdown-list > li strong {
  color: var(--grey-100);
  font-weight: 600;
}

.markdown-list-nested {
  list-style: none;
  margin-top: 2px;
  margin-bottom: 0;
  padding-left: var(--space-3);
}

.markdown-list-nested > li {
  position: relative;
  font-size: var(--text-xs);
  color: var(--grey-400);
  margin-bottom: 2px;
  padding-left: var(--space-2);
}

.markdown-list-nested > li::before {
  content: '–';
  position: absolute;
  left: 0;
  color: var(--grey-500);
}

.markdown-list-nested > li strong {
  color: var(--grey-300);
}
