/**
 * Page Styles Index
 * Imports all page style modules
 */

@import './common.css';
@import './home.css';
@import './profile.css';
@import './wiki.css';
@import './ladder.css';
@import './map.css';
@import './about.css';
@import './login.css';
@import './guilds.css';
@import './changelog.css';
@import './not-found.css';
@import './settings.css';
@import './store.css';
@import './faq.css';
@import './join-team.css';
@import './recipes.css';
@import './guides.css';
@import './gallery.css';
@import './events.css';
